.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    border-bottom: 1px solid #8ECAE6;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.row:hover {
    background-color: #8ECAE6;
}

.col {
    width: 50%;
}